<div id="<%= dom_id task %>">
  <p>
    <strong>Task title:</strong>
    <%= task.task_title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= task.date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= task.notes %>
  </p>

</div>
