<p style="color: green"><%= notice %></p>

<h1>CATEGORIES</h1>

<div class="container">
<div id="categories">
  <% @categories.each do |category| %>
    <%= render category  %>
    <%= link_to "View", category, class:"view-btn" %>
  <% end %>
  </div>
</div>


 
<div class="container">
  <div id="categories">
<%= link_to "New category", new_category_path %>
  </div>
</div>


